@font-face {
    font-family: "dogica";
    src: url("./polices/dogica.otf");
}
@font-face {
    font-family: "retroGame";
    src: url("./polices/RetroGaming.ttf");
}

/*  BODY, HTML & GENERAL RULES  */
html, body {
    width:100%;
    height:100%;
    font-family: "retroGame";
    color:white;
    font-size: 1.5em;
}
body {
    padding:0px;
    margin:0px;
    background-color: rgb(3, 15, 26);
    transition: background-color 5s ease-out;
}

/*  DIV QUI COMPOSENT LA PAGE  */
.gameContainer {
    width:95%;
    height: 95%;
    margin-left:2.5%;
    margin-top: 2.5%;
    border-width: 5px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom,
        white,
        rgb(3, 15, 26)) 1;
    transition: border-width 1s linear;
}
.topScreen {
    width: 100%;
    height: 60%;
}
.titleGame {
    width:100%;
    height:10%;
}
.gameScreen {
    width:80%;
    height:90%;
    margin-left: 10%;
}
.bottomScreen {
    z-index:-1;
    width:100%;
    height: 40%;
    border-width:5px 0px 0px 0px;
    border-style:solid;
    border-image: 
      linear-gradient(
          to left,
        rgb(3, 15, 26),
        white,
        rgb(3, 15, 26)) 5;
}
.enterTxt {
    width: 50%;
    height: 30%;
    margin-left: 25%;
}
.menuDiv {
    width:100%;
}
.commandsList {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    border-width:5px 0px 0px 0px;
    border-style:solid;
    border-image: 
      linear-gradient(
          to left,
        rgb(3, 15, 26),
        white,
        rgb(3, 15, 26)) 5;
}

/*  COMMANDES ET LEURS AFFICHAGES  */
.baseCommands {
    float:left;
    width:49%;
    height:100%;
    padding-top:1%;
    padding-left:1%;
}
.baseCommands div {
    width:49%;
    float:left;
}
.command span {
    cursor: pointer;
}
.iAmAnger {
    color: rgb(230, 97, 45);
}
.iAmBargain {
    color: rgb(12, 145, 67);
}
.iAmDepression {
    color: rgb(92, 128, 206);
}
.iAmAcceptance {
    color: rgb(252, 220, 132);
}
.command span:hover {
    color: rgba(255, 255, 255, 0.2);
}

/*  INPUT  */
.inputCommand {
    text-align:center;
    color:white;
    font-size:1em;
    width:100%;
    height:90%;
    font-family: "retroGame";
    background-color: rgba(0, 0, 0, 0);
    border:none;
    text-transform:uppercase;
}
.inputCommand:focus {
    outline:none;
}

/*  CSS TEXTE GÉNÉRIQUE  */
.titleDiv {
    text-align: center;
    font-size: 1.25em;
}
.textDiv {
    display:inline;
}
.bigTextDiv {
    font-size: 1.25em;
    cursor: pointer;
}
.interactiveText {
    cursor: pointer;
    display: inline-block;
}
.decorationTxt {
    display:inline-block;
}
.interactiveText:hover, .menuTxt:hover {
    color: rgba(255, 255, 255, 0.2);
}

/*  DIV QUI COMPOSENT L'ALERT  */
.alertBox {
    width: 60%;
    height: 50%;
    top: 25%;
    margin-left: 20%;
    border-width:5px 0px 5px 0px;
    border-style:solid;
    border-image: 
      linear-gradient(
          to left,
        rgb(3, 15, 26),
        white,
        rgb(3, 15, 26)) 5;
    position: absolute;
    background-color: rgb(3, 15, 26);
    z-index:1;
}
.txtAlert {
    width:80%;
    height:60%;
    margin-top:25px;
    margin-left:10%;
}

/*  BOUTON ALERT  */
.buttonAlert {
    width:50%;
    height:20%;
    border:none;
    margin-left:25%;
    background-color: rgb(3, 15, 26);
    color:white;
    text-transform:uppercase;
    font-family: "retroGame";
    font-size:1em;
    transition: width 0.2s;
    transition: margin-left 0.2s;
}
.buttonAlert:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgb(3, 15, 26) 0%, white 50%, rgb(3, 15, 26) 100%);
    color: rgb(3, 15, 26);
    width:54%;
    margin-left: 23%;
}
.buttonAlert:active {
    background: none;
    background-color: rgb(3, 15, 26);
    color:white;
}

/*  BOUTON SANS MARGIN-LEFT  */
.buttonGo {
    width:50%;
    height:20%;
    border:none;
    background-color: rgb(3, 15, 26);
    color:white;
    text-transform:uppercase;
    font-family: "retroGame";
    font-size:1em;
    transition: width 0.2s;
    transition: margin-left 0.2s;
}
.buttonGo:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgb(3, 15, 26) 0%, white 50%, rgb(3, 15, 26) 100%);
    color: rgb(3, 15, 26);
    width:54%;
}
.buttonGo:active {
    background: none;
    background-color: rgb(3, 15, 26);
    color:white;
}
.submitName {
    padding-top:10px;
    padding-bottom:10px;
}

/*  BOUTON COULEURS INVERSÉES  */
.buttonGoBack {
    width:50%;
    height:20%;
    border:none;
    margin-left: 25%;
    background-color: white;
    color:rgb(3, 15, 26);
    text-transform:uppercase;
    font-family: "retroGame";
    font-size:1em;
}
.buttonGoBack:hover {
    cursor: pointer;
    background: linear-gradient(90deg, white 0%, rgb(3, 15, 26) 50%, white 100%);
    color: white;
}
.buttonGoBack:active {
    background: none;
    background-color: white;
    color:rgb(3, 15, 26);
}

/*  BOUTON LARGE SANS MARGIN-LEFT  */
.buttonGoForward {
    width:80%;
    height:20%;
    border:none;
    background-color: rgb(3, 15, 26);
    color:white;
    text-transform:uppercase;
    font-family: "retroGame";
    font-size:1em;
}
.buttonGoForward:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgb(3, 15, 26) 0%, white 50%, rgb(3, 15, 26) 100%);
    color: rgb(3, 15, 26);
}
.buttonGoForward:active {
    background: none;
    background-color: rgb(3, 15, 26);
    color:white;
}

/*  STYLE POUR LA DIV .FLICKER  */
.flicker {
    pointer-events: none;
    position: absolute;
    width: auto;
    min-width: 100%;
    height:105%;
    z-index:15;
    background: rgba(9, 8, 8, 0.1);
}

/*  STYLE POUR LES SMARTPHONE  */
/*  J'avais commencé mais me suis finalement rendu compte que ce
n'était peut-être pas des plus pertinent vu le texte à afficher  */
/*  A VOIR SI JE DÉVELOPPE  */
@media only screen and (max-width: 786px) {
    .decorationTxt {
        display:none;
    }
}