@font-face {
    font-family: "dogica";
    src: url("./polices/dogica.otf");
}
@font-face {
    font-family: "retroGame";
    src: url("./polices/RetroGaming.ttf");
}
html, body{
    width:100%;
    height:100%;
    font-family: "retroGame";
    color:white;
    font-size: 1.5em;
}
body{
    padding:0px;
    margin:0px;
    background-color: rgb(3, 15, 26);
}
span{
    font-family: "retroGame", monospace;
}
.gameContainer{
    width:95%;
    height: 95%;
    margin-left:2.5%;
    margin-top: 2.5%;
    border-width: 5px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom,
        white,
        rgb(3, 15, 26)) 1;
}
.topScreen{
    width: 100%;
    height: 60%;
}
.bottomScreen{
    z-index:-1;
    width:100%;
    height: 40%;
    border-width:5px 0px 0px 0px;
    border-style:solid;
    border-image: 
      linear-gradient(
          to left,
        rgb(3, 15, 26),
        white,
        rgb(3, 15, 26)) 5;
}
.titleGame{
    width:100%;
    height:10%;
}
.gameScreen{
    width:80%;
    height:90%;
    margin-left: 10%;
}
.enterTxt{
    width: 50%;
    height: 30%;
    margin-left: 25%;
}
.inputCommand{
    text-align:center;
    color:white;
    font-size:1em;
    width:100%;
    height:90%;
    font-family: "retroGame";
    background-color: rgba(0, 0, 0, 0);
    border:none;
    text-transform:uppercase;
}
.inputCommand:focus{
    outline:none;
}
.commandsList{
    width: 80%;
    height: 70%;
    margin-left: 10%;
    border-width:5px 0px 0px 0px;
    border-style:solid;
    border-image: 
      linear-gradient(
          to left,
        rgb(3, 15, 26),
        white,
        rgb(3, 15, 26)) 5;
}
.titleDiv{
    text-align: center;
    font-size: 1.25em;
}
.textDiv{
    display:inline;
}
.interactiveText{
    cursor: pointer;
}
.menuDiv{
    width:100%;
}
.baseCommands{
    float:left;
    width:49%;
    height:100%;
    padding-top:1%;
    padding-left:1%;
}
.baseCommands div {
    width:49%;
    float:left;
}
.command span {
    cursor: pointer;
}
.iAmAnger {
    color: rgb(230, 97, 45);
}
.iAmBargain {
    color: rgb(12, 145, 67);
}
.iAmDepression {
    color: rgb(92, 128, 206);
}
.iAmAcceptance {
    color: rgb(243, 181, 10);
}
/*.bonusCommands {
    display:none;
}*/
.alertBox{
    width: 60%;
    height: 40%;
    top: 30%;
    margin-left: 20%;
    border-width:5px 0px 5px 0px;
    border-style:solid;
    border-image: 
      linear-gradient(
          to left,
        rgb(3, 15, 26),
        white,
        rgb(3, 15, 26)) 5;
    position: absolute;
    background-color: rgb(3, 15, 26);
    z-index:1;
}
.txtAlert{
    width:80%;
    height:60%;
    margin-top:25px;
    margin-left:10%;
}
.buttonAlert{
    width:50%;
    height:20%;
    margin-left:25%;
    text-transform:uppercase;
    font-family: "retroGame";
    font-size:1em;
    border:none;
    background-color: rgb(3, 15, 26);
    color:white;
    transition: width 0.2s;
    transition: margin-left 0.2s;
    transition: width 0.2s;
}
.buttonAlert:hover {
    cursor: pointer;
    background: linear-gradient(90deg, rgb(3, 15, 26) 0%, white 50%, rgb(3, 15, 26) 100%);
    color: rgb(3, 15, 26);
    width:54%;
    margin-left: 23%;
}
.buttonAlert:active {
    background: none;
    background-color: rgb(3, 15, 26);
    color:white;
}